/* static/login.css */
body {
    background-color: #3498db;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #3498db;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #3498db;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    text-align: center;
    font-size: 18px;
    border-radius: 7px;
}


input[type="submit"] {
    background-color: #3498db;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #2980b9;
}

img {
    max-width: 250px;
    margin-bottom: 10px;
}

