<!-- templates/login.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='auth.css') }}">
</head>
<body>
    <div class="login-container">
        <img src="{{ url_for('static', filename='logo.jpg') }}" alt="Logo">
        <h1>Вход администратора</h1>
        <form action="/login" method="post">
            <label for="username">Логин</label>
            <input type="text" id="username" name="username" required>
            <br>
            <label for="password">Пароль</label>
            <input type="password" id="password" name="password" required>
            <br>
            <input type="submit" value="Войти">
        </form>
    </div>
</body>
</html>

